<!DOCTYPE html>
<html>

<head>
    <title>static page title</title>
    <link rel="stylesheet" href="css/style.css">
    <link id="siteicon" rel="shortcut icon" type="images/favicon" href="/favicon.ico"> 
</head>

<body>
   {{>header}}
    <p>{{errorText}}</p>
    {{>footer}}
</body>

</html>