<!DOCTYPE html>
<html>

<head>
    <title>static page title</title>
    <link rel="stylesheet" href="css/style.css">
    <script type="text/javascript" src="js/app.js"></script>
</head>

<body>
    <div class='main-content'>
        {{>header}}   
        <p>This is help page</p>
    </div>
    {{>footer}}
</body>

</html>